
.jumbotron {
    /* display: flex;
    align-content: center;
    justify-content: center; */
    font-family: milo;
    color: lightblue;
    /* background-color: paleturquoise; */
    background-image: url('../assets/DARKcodingbackground.png');
    /* height: 500px; */
        background-size:auto;
        background-repeat: no-repeat;
        height: calc(50vh - 25px);
}

#name {
    font-size: 100px;
}

.wrapper {
    background-color: rgb(17, 1, 121);
}

.IDcard {
    background-color:  rgb(17, 1, 121);
    margin-bottom: 25px;
    size: 35px;
}

.headline {
    text-align: left;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: left;
    font-family: milo;
    font-size: 18px;
    /* background-color: cornflowerblue; */
    margin-top: 0;
    /* margin: 35px; */
    color: lightblue;
}

.footer {
    background-color: lightblue;
    text-align: center;
}

col {
    margin-bottom: 25px;
}